<!DOCTYPE html>
<html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="format-detection" content="telephone=no" />

        <meta name="description" content="Pocketmentor" />
        <meta name="keywords" content="pocketmentor, mentor, menti, matching service" />

        <title>Pocketmentor</title>

        <link href="/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
        <link href="/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
        <link href="/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">

        <link href="/css/demo.css" rel="stylesheet">

        {{{_sections.head}}}

        <link href="/css/app.min.css" rel="stylesheet">

        <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
        <script id="cityTemplate" type="text/x-handlebars-template">
            <option value="">시/군/구 선택</option>
            \{{#each cities}}
            <option value="\{{this}}">\{{this}}</option>
            \{{/each}}
        </script>
    </head>
    <body>
        <header id="header" class="clearfix" data-spy="affix" data-offset-top="65">
            <ul class="header-inner">

                <!-- Logo -->
                <li class="logo">
                    <a href=""><img src="/img/logo.png" alt=""></a>
                    <div id="menu-trigger"><i class="zmdi zmdi-menu"></i></div>
                </li>

                <!-- Messages -->
                <li class="dropdown">
                    <a href="" data-toggle="dropdown" class="hi-messages">
                        <i class="zmdi zmdi-email"></i>
                        <i class="hi-count">6</i>
                    </a>

                    <div class="dropdown-menu hi-dropdown">
                        <div class="dropdown-header bg-green m-b-15">
                            MESSAGES

                            <ul class="actions a-alt">
                                <li><a href=""><i class="zmdi zmdi-plus"></i></a></li>
                            </ul>
                        </div>

                        <div class="list-group lg-alt">
                            <a class="list-group-item media" href="">
                                <div class="pull-left">
                                    <img class="img-avatar" src="/img/profile-pics/1.jpg" alt="" width="40" height="40">
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">David Villa Jacobs <small>3 Hours ago</small></div>
                                    <small class="list-group-item-text c-gray">Sorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis lobortis sapien non posuere</small>
                                </div>
                            </a>

                            <a class="list-group-item media" href="">
                                <div class="pull-left">
                                    <img class="img-avatar" src="/img/profile-pics/5.jpg" alt="" width="40" height="40">
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">Candice Barnes <small>5 Hours ago</small></div>
                                    <small class="list-group-item-text c-gray">Quisque non tortor ultricies, posuere elit id, lacinia purus curabitur.</small>
                                </div>
                            </a>

                            <a class="list-group-item media" href="">
                                <div class="pull-left">
                                    <img class="img-avatar" src="/img/profile-pics/2.jpg" alt="" width="40" height="40">
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">Jeannette Lawson <small>Yesterday</small></div>
                                    <small class="list-group-item-text c-gray">Donec congue tempus ligula, varius hendrerit mi hendrerit sit amet. Duis ac quam sit amet leo feugiat iaculis</small>
                                </div>
                            </a>

                            <a class="list-group-item media" href="">
                                <div class="pull-left">
                                    <img class="img-avatar" src="/img/profile-pics/4.jpg" alt="" width="40" height="40">
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">Darla Mckinney <small>05/06/2014</small></div>
                                    <small class="list-group-item-text c-gray">Duis tincidunt augue nec sem dignissim scelerisque. Vestibulum rhoncus sapien sed nulla aliquam lacinia</small>
                                </div>
                            </a>

                            <a class="list-group-item media" href="">
                                <div class="pull-left">
                                    <img class="img-avatar" src="/img/profile-pics/2.jpg" alt="" width="40" height="40">
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">Rudolph Perez <small>08/06/2014</small></div>
                                    <small class="list-group-item-text c-gray">Phasellus a ullamcorper lectus, sit amet viverra quam. In luctus tortor vel nulla pharetra bibendum</small>
                                </div>
                            </a>

                            <a class="view-more" href="">View more</a>
                        </div>
                    </div>
                </li>


                <!-- Notifications -->
                <li class="dropdown">
                    <a href="" data-toggle="dropdown" class="hi-notifications">
                        <i class="zmdi zmdi-notifications"></i>
                        <i class="hi-count">9</i>
                    </a>
                    <div class="dropdown-menu hi-dropdown">
                        <div class="dropdown-header bg-orange m-b-15">
                            Notifications
                            <ul class="actions a-alt">
                                <li><a href=""><i class="zmdi zmdi-check-all"></i></a></li>
                            </ul>
                        </div>
                        <div class="list-group lg-alt">
                            <a class="list-group-item media" href="">
                                <div class="pull-right">
                                    <img class="img-avatar" src="/img/profile-pics/1.jpg" alt="" width="40" height="40">
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">David Villa Jacobs <small>3 Hours ago</small></div>
                                    <small class="list-group-item-text c-gray">Sorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis lobortis sapien non posuere</small>
                                </div>
                            </a>

                            <a class="list-group-item media" href="">
                                <div class="media-body">
                                    <div class="list-group-item-heading">Candice Barnes <small>5 Hours ago</small></div>
                                    <small class="list-group-item-text c-gray">Quisque non tortor ultricies, posuere elit id, lacinia purus curabitur.</small>
                                </div>
                            </a>

                            <a class="list-group-item media" href="">
                                <div class="media-body">
                                    <div class="list-group-item-heading">Jeannette Lawson <small>Yesterday</small></div>
                                    <small class="list-group-item-text c-gray">Donec congue tempus ligula, varius hendrerit mi hendrerit sit amet. Duis ac quam sit amet leo feugiat iaculis</small>
                                </div>
                            </a>

                            <a class="list-group-item media" href="">
                                <div class="pull-right">
                                    <img class="img-avatar" src="/img/profile-pics/4.jpg" alt="" width="40" height="40">
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">Darla Mckinney <small>05/06/2014</small></div>
                                    <small class="list-group-item-text c-gray">Duis tincidunt augue nec sem dignissim scelerisque. Vestibulum rhoncus sapien sed nulla aliquam lacinia</small>
                                </div>
                            </a>

                            <a class="list-group-item media" href="">
                                <div class="pull-right">
                                    <img class="img-avatar" src="/img/profile-pics/2.jpg" alt="" width="40" height="40">
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">Rudolph Perez <small>08/06/2014</small></div>
                                    <small class="list-group-item-text c-gray">Phasellus a ullamcorper lectus, sit amet viverra quam. In luctus tortor vel nulla pharetra bibendum</small>
                                </div>
                            </a>

                            <a class="view-more" href="">View more</a>
                        </div>
                    </div>
                </li>

                <!-- Ongoing Projects -->
                <li class="dropdown">
                    <a data-toggle="dropdown" href="" class="hi-projects">
                        <i class="zmdi zmdi-format-subject"></i>
                    </a>
                    <div class="dropdown-menu hi-dropdown">
                        <div class="dropdown-header bg-red m-b-15">
                            ONGOING PROJECTS
                            <ul class="actions a-alt">
                                <li><a class="" href=""><i class="zmdi zmdi-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="list-group lg-alt">
                            <div class="list-group-item">
                                <div class="list-group-item-heading m-b-5">HTML5 Validation Report</div>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                                        <span class="sr-only">95% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="list-group-item-heading m-b-5">Google Chrome Extension</div>

                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="list-group-item-heading m-b-5">Social Intranet Projects</div>

                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        <span class="sr-only">20% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="list-group-item-heading m-b-5">Bootstrap Admin Template</div>

                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="list-group-item-heading m-b-5">Youtube Client App</div>

                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete (danger)</span>
                                    </div>
                                </div>
                            </div>

                            <a class="view-more" href="">View more</a>
                        </div>
                    </div>
                </li>

                <!-- Events -->
                <li class="dropdown hidden-xs">
                    <a href="" data-toggle="dropdown" class="hi-events">
                        <i class="zmdi zmdi-calendar"></i>
                    </a>
                    <div class="dropdown-menu hi-dropdown">
                        <div class="dropdown-header bg-blue m-b-15">
                            UPCOMING EVENTS
                            <ul class="actions a-alt">
                                <li><a class="" href=""><i class="zmdi zmdi-plus"></i></a></li>
                            </ul>
                        </div>

                        <div class="list-group lg-alt">
                            <a class="list-group-item media" href="">
                                <div class="pull-left">
                                    <div class="event-time bg-cyan">
                                        <h2>16/07</h2>
                                        <small>11:30 AM</small>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">ICCSSR Annual Meeting</div>
                                    <small class="list-group-item-text c-gray">Sorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis lobortis sapien non posuere</small>
                                    <small class="list-group-item-text c-gray f-11">10 Days to go</small>
                                </div>
                            </a>

                            <a class="list-group-item media" href="">
                                <div class="pull-left">
                                    <div class="event-time bg-green">
                                        <h2>20/7</h2>
                                        <small>11:30 AM</small>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">Outsourcing in Clinical Trials Europe 2014</div>
                                    <small class="list-group-item-text c-gray">Vestibulum ut auctor est. Proin euismod semper tortor id egestas</small>
                                    <small class="list-group-item-text c-gray f-11">20 Days to go</small>
                                </div>
                            </a>

                            <a class="list-group-item media" href="">
                                <div class="pull-left">
                                    <div class="event-time bg-orange">
                                        <h2>2/8</h2>
                                        <small>11:30 AM</small>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">Biomarkers World Congress 2014</div>
                                    <small class="list-group-item-text c-gray">Phasellus luctus commodo augue, at posuere augue. Sed pellentesque libero vel dapibus placerat</small>
                                    <small class="list-group-item-text c-gray f-11">31 Days to go</small>
                                </div>
                            </a>

                            <a class="list-group-item media" href="">
                                <div class="pull-left">
                                    <div class="event-time bg-red">
                                        <h2>30/10</h2>
                                        <small>11:30 AM</small>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">August Flavors Cooking</div>
                                    <small class="list-group-item-text c-gray">Quisque magna tellus, vulputate a faucibus at, rhoncus vitae est. Nulla scelerisque sollicitudin mollis</small>
                                    <small class="list-group-item-text c-gray f-11">55 Days to go</small>
                                </div>
                            </a>

                            <a class="list-group-item media" href="">
                                <div class="pull-left">
                                    <div class="event-time bg-blue">
                                        <h2>23/11</h2>
                                        <small>11:30 AM</small>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">Beach Party 2104</div>
                                    <small class="list-group-item-text c-gray">Etiam dolor diam, pulvinar nec vehicula id, sodales sagittis libero. Maecenas cursus varius libero et eleifend</small>
                                    <small class="list-group-item-text c-gray f-11">64 Days to go</small>
                                </div>
                            </a>
                        </div>

                        <a class="view-more" href="">View more</a>
                    </div>
                </li>

                <!-- Search -->
                <li class="top-search">
                    <form name="searchForm" action="/search-result" method="get">
                        <input type="text" name="userName" class="ts-input" placeholder="이름 입력..." value="{{search.userName}}">
                        <div class="w-100 category-group">
                            <dl class="dl-horizontal">
                                <dt class="p-t-5">거주지 도/시</dt>
                                <dd>
                                    <div class="col-md-6">
                                        <select name="bigCity" class="selectpicker top-bigCity">
                                            {{#select search.bigCity}}
                                            <option value="">도시 선택</option>
                                            <option value="서울">서울</option>
                                            <option value="경기">경기</option>
                                            <option value="인천">인천</option>
                                            <option value="대구">대구</option>
                                            <option value="부산">부산</option>
                                            <option value="광주">광주</option>
                                            <option value="대전">대전</option>
                                            <option value="울산">울산</option>
                                            <option value="세종">세종</option>
                                            <option value="강원">강원</option>
                                            <option value="충북">충북</option>
                                            <option value="충남">충남</option>
                                            <option value="전북">전북</option>
                                            <option value="전남">전남</option>
                                            <option value="경북">경북</option>
                                            <option value="경남">경남</option>
                                            <option value="제주">제주</option>
                                            {{/select}}
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <select name="city" class="selectpicker top-city">
                                            <option value="">시/군/구 선택</option>
                                            {{! ajax 2차 카테고리}}
                                        </select>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="p-t-5">중학교</dt>
                                <dd>
                                    <div>
                                        <input type="text" name="middleSchool" id="middleSchool" class="typeahead form-control" placeholder="중학교 선택" value="{{search.middleSchool}}">
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="p-t-5">고등학교</dt>
                                <dd>
                                    <div>
                                        <input type="text" name="highSchool" id="highSchool" class="typeahead form-control" placeholder="고등학교 선택" value="{{search.highSchool}}">
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="p-t-5">대학교</dt>
                                <dd>
                                    <div>
                                        <input type="text" name="university" id="university" class="typeahead form-control" placeholder="대학교 선택" value="{{search.university}}">
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="p-t-5">관심분야</dt>
                                <dd>
                                    <div class="fg-line">
                                        {{#check specialty}}
                                        <label class="checkbox checkbox-inline cr-alt">
                                            <input type="checkbox" name="specialty" value="학업">
                                            <i class="input-helper"></i>
                                            학업
                                        </label>
                                        <label class="checkbox checkbox-inline cr-alt">
                                            <input type="checkbox" name="specialty" value="취업">
                                            <i class="input-helper"></i>
                                            취업
                                        </label>
                                        <label class="checkbox-inline cr-alt">
                                            <input type="checkbox" name="specialty" value="경영">
                                            <i class="input-helper"></i>
                                            경영
                                        </label>
                                        {{/check}}
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <i class="ts-search zmdi zmdi-search"><input type="submit" style="display:none" /></i>
                        <i class="ts-reset zmdi zmdi-close"></i>
                    </form>
                </li>

                <!-- Settings -->
                <li class="pull-right dropdown hidden-xs">
                    <a href="" data-toggle="dropdown">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="fullscreen" href="">Toggle Fullscreen</a></li>
                        <li><a data-toggle="localStorage" href="">Clear Local Storage</a></li>
                        <li><a href="">Account Settings</a></li>
                        <li><a href="">Other Settings</a></li>
                    </ul>
                </li>

                <!-- Quick Apps -->
                <li class="hidden-xs dropdown pull-right">
                    <a href="" data-toggle="dropdown">
                        <i class="zmdi zmdi-apps"></i>
                    </a>

                    <div class="dropdown-menu pull-right" id="launch-apps">
                        <div class="dropdown-header bg-teal">SUPERFLAT APPS</div>

                        <div class="la-body">
                            <div class="lab-item">
                                <a href="" class="bg-red">
                                    <i class="zmdi zmdi-calendar"></i>
                                </a>
                                <small>Calendar</small>
                            </div>

                            <div class="lab-item">
                                <a href="" class="bg-green">
                                    <i class="zmdi zmdi-file-text"></i>
                                </a>
                                <small>Files</small>
                            </div>

                            <div class="lab-item">
                                <a href="" class="bg-blue">
                                    <i class="zmdi zmdi-email"></i>
                                </a>
                                <small>Mail</small>
                            </div>

                            <div class="lab-item">
                                <a href="" class="bg-orange">
                                    <i class="zmdi zmdi-trending-up"></i>
                                </a>
                                <small>Analytics</small>
                            </div>

                            <div class="lab-item">
                                <a href="" class="bg-cyan">
                                    <i class="zmdi zmdi-view-headline"></i>
                                </a>
                                <small>News</small>
                            </div>

                            <div class="lab-item">
                                <a href="" class="bg-teal">
                                    <i class="zmdi zmdi-image"></i>
                                </a>
                                <small>Gallery</small>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Time -->
                <li class="pull-right hidden-xs">
                    <div id="time">
                        <span id="t-hours"></span>
                        <span id="t-min"></span>
                        <span id="t-sec"></span>
                    </div>
                </li>
            </ul>
        </header>

        <aside id="sidebar">

            <!--| MAIN MENU |-->
            <ul class="side-menu">
                <li class="sm-sub sms-profile">
                    <a class="clearfix" href="">
                        <img src="{{user.picture}}" alt="">

                        <span class="f-11">
                            <span class="d-block">{{user.name}}</span>
                            <small class="text-lowercase">{{user.email}}</small>
                        </span>
                    </a>

                    <ul>
                        <li><a href="/profile-about">View Profile</a></li>
                        <li><a href="">Privacy Settings</a></li>
                        <li><a href="">Settings</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>

                <li class="active">
                    <a href="/">
                        <i class="zmdi zmdi-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="typography.html">
                        <i class="zmdi zmdi-format-underlined"></i>
                        <span>Typography<span class="label label-danger">New</span></span>
                    </a>
                </li>
                <li>
                    <a href="widgets.html">
                        <i class="zmdi zmdi-widgets"></i>
                        <span>Widgets</span>
                    </a>
                </li>
                <li class="sm-sub">
                    <a href="">
                        <i class="zmdi zmdi zmdi-view-list"></i>
                        <span>Tables</span>
                    </a>
                    <ul>
                        <li><a href="normal-tables.html">Normal Tables</a></li>
                        <li><a href="data-tables.html">Data Tables</a></li>
                    </ul>
                </li>
                <li class="sm-sub">
                    <a href="">
                        <i class="zmdi zmdi-collection-text"></i>
                        <span>Forms <span class="label label-warning">New</span></span>
                    </a>
                    <ul>
                        <li><a href="form-elements.html">Basic Form Elements</a></li>
                        <li><a href="form-components.html">Form Components</a></li>
                        <li><a href="form-examples.html">Form Examples</a></li>
                        <li><a href="form-validation.html">Form Validation</a></li>
                    </ul>
                </li>
                <li class="sm-sub">
                    <a href="">
                        <i class="zmdi zmdi-swap-alt"></i>
                        <span>User Interface</span>
                    </a>
                    <ul>
                        <li><a href="colors.html">Colors</a></li>
                        <li><a href="animations.html">Animations</a></li>
                        <li><a href="buttons.html">Buttons</a></li>
                        <li><a href="icons.html">Icons</a></li>
                        <li><a href="alerts.html">Alerts</a></li>
                        <li><a href="notification-dialog.html">Notifications & Dialogs</a></li>
                        <li><a href="media.html">Media</a></li>
                        <li><a href="components.html">Components</a></li>
                        <li><a href="other-components.html">Others</a></li>
                    </ul>
                </li>
                <li>
                    <a href="charts.html">
                        <i class="zmdi zmdi-trending-up"></i>
                        <span>Charts</span>
                    </a>
                </li>
                <li>
                    <a href="calendar.html">
                        <i class="zmdi zmdi-calendar"></i>
                        <span>Calendar <span class="label label-primary">12</span></span>
                    </a>
                </li>
                <li class="sm-sub">
                    <a href="">
                        <i class="zmdi zmdi-image"></i>
                        <span>Photo Gallery</span>
                    </a>
                    <ul>
                        <li><a href="photos.html">Default</a></li>
                        <li><a href="photo-timeline.html">Timeline</a></li>
                    </ul>
                </li>
                <li>
                    <a href="generic-classes.html">
                        <i class="zmdi zmdi-layers"></i>
                        <span>Generic Classes</span>
                    </a>
                </li>
                <li class="sm-sub sms-bottom">
                    <a href="">
                        <i class="zmdi zmdi-collection-item"></i>
                        <span>Sample Pages</span>
                    </a>
                    <ul>
                        <li><a href="profile-about.html">Profile</a></li>
                        <li><a href="list-view.html">List View</a></li>
                        <li><a href="messages.html">Messages</a></li>
                        <li><a href="pricing-table.html">Pricing Table</a></li>
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="invoice.html">Invoice</a></li>
                        <li><a href="login.html">Login and Sign Up</a></li>
                        <li><a href="lockscreen.html">Lockscreen</a></li>
                        <li><a href="404.html">Error 404</a></li>
                    </ul>
                </li>
                <li>
                    <a href="https://wrapbootstrap.com/theme/superflat-simple-responsive-admin-theme-WB082P91H">
                        <i class="zmdi zmdi-shopping-cart"></i>
                        <span>Buy this template</span>
                    </a>
                </li>
            </ul>
        </aside>

        <section id="content">
                {{{body}}}
        </section>

        <footer id="footer">
            Copyright © 2015 SuperFlat Admin

            <ul class="f-menu">
                <li><a href="">Home</a></li>
                <li><a href="">Dashboard</a></li>
                <li><a href="">Reports</a></li>
                <li><a href="">Support</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </footer>

        <!-- Older IE Warning Message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>
        <![endif]-->
        <!-- javascript code -->

        <script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
        <script src="/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
        <script src="/vendors/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
        <script src="/vendors/bower_components/typeahead.js/dist/bloodhound.min.js"></script>
        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
            <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->
        <script src="/js/functions.js"></script>
        <script src="/js/demo.js"></script>
        
        {{{_sections.jquery}}}

        {{#if flash}}
            <script>
                // 플래시 메시지
                $(document).ready(function () {
                    notify('top', 'right', '', '{{flash.type}}', 'animated fadeIn', 'animated fadeOut', '{{flash.title}}', '{{flash.message}}');
                });
            </script>
        {{/if}}

        <script>
            $(document).bind('touchstart click', function (event) {
                var item = $('form[name="searchForm"]');
                var position = item.offset();

                if (typeof (position) !== 'undefined') {
                    position.right = parseInt(position.left) + (item.width());
                    position.bottom = parseInt(position.top) + (item.height());

                    if (position.top > event.pageY || position.bottom < event.pageY || position.left > event.pageX || position.right < event.pageX) {
                        //$('.top-search .ts-input').val('');
                        $('.top-search').removeClass('toggled');
                    }
                }
            });
            $(document).ready(function () {
                var template = {
                    suggestion: Handlebars.compile("<p style='padding:6px; text-align:left;'><b>\{{name}}</b> :: \{{adres}} </p>"),
                    footer: Handlebars.compile("<b>Searched for '\{{query}}'</b>")
                }
                // Instantiate the Typeahead UI
                $('#middleSchool.typeahead').typeahead(null, {
                    displayKey: 'name',
                    source: selectSchool('midd_list'),
                    templates: template
                });
                $('#highSchool.typeahead').typeahead(null, {
                    displayKey: 'name',
                    source: selectSchool('high_list'),
                    templates: template
                });
                $('#university.typeahead').typeahead(null, {
                    displayKey: 'name',
                    source: selectSchool('univ_list'),
                    templates: template
                });

                cityCategoryChange($('.top-bigCity option:selected').val(), $('select.top-city'), '{{search.city}}');
                $('.top-bigCity').change(function () {
                    cityCategoryChange($('.top-bigCity option:selected').val(), $('select.top-city'));
                });

                // 검색 form 연결
                $(".ts-search").click(function () {
                    $('form[name="searchForm"]').submit();
                });
            });

            // facebook hash remove
            if (window.location.hash && window.location.hash == '#_=_') window.location.hash = '';

            // 학교 선택
            function selectSchool(gubun) {
                // Instantiate the Bloodhound suggestion engine
                var schools = new Bloodhound({
                    datumTokenizer: function (datum) {
                        return Bloodhound.tokenizers.whitespace(datum.value);
                    },
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                        url: '/jsonSchool/%QUERY/divSchool/' + gubun,
                        wildcard: '%QUERY',
                        transform: function (schools) {
                            console.log(schools);
                            // Map the remote source JSON array to a JavaScript object array
                            return $.map(schools.content, function (school) {
                                return {
                                    name: school.schoolName,
                                    adres: school.adres
                                };
                            });
                        }
                    }
                });
                return schools;
            }
            // 거주지 선택
            function cityCategoryChange(bigCity, city, userCity) {
                var cityTemplate = Handlebars.compile($('#cityTemplate').html());
                var $city = city;
                if (!bigCity) {
                    $city.html(cityTemplate({ cities: null }));
                    $city.selectpicker('refresh');
                    return;
                }

                $.getJSON('/profile-about/city/' + bigCity, function (cities) {
                    $city.html(cityTemplate({ cities: cities.cities }));
                    $city.selectpicker('refresh');
                    if (userCity) $city.selectpicker('val', userCity);
                });
            }
        </script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-76645561-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>