{{#section 'head'}}
    <link href="/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{{/section}}

<div class="container">
    <header class="page-header">
        <h2>프로필 편집</h2>
    </header>

    <div class="tile" id="profile-main">
        <div class="pm-overview c-overflow-dark">
            <div class="pmo-pic">
                <div class="p-relative">
                    <img class="profile-pic img-responsive" src="{{user.picture}}" alt="">
                    <div class="dropdown pmop-message">
                        <a data-toggle="dropdown" href="" class="pmopm-send">
                            <i class="zmdi zmdi-comment-text-alt"></i>
                        </a>

                        <div class="dropdown-menu">
                            <textarea placeholder="Write something..."></textarea>

                            <button class="btn bg-green btn-icon"><i class="zmdi zmdi-mail-send"></i></button>
                        </div>
                    </div>

                    <span class="btn fileinput-button pmop-edit">
                        <i class="zmdi zmdi-camera"></i> <span class="hidden-xs ">Update Profile Picture</span>
                        <input type="file" id="fieldPhoto" accept="image/*" name="photo">
                    </span>
                </div>
                <div class="pmo-stat">
                    <h2 class="m-0 c-white">1562</h2>
                    Total Connections
                </div>

                <div class="pmo-block pmo-items hidden-xs">
                    <h2>Comment</h2>
                    <p id="commentText">
                        안녕하세요. 반갑습니다.
                    </p>
                </div>
            </div>

            <div class="pmo-block pmo-items hidden-xs">
                <h2>Connections</h2>

                <div class="pmob-body">
                    <div class="row">
                        <a href="" class="col-xs-2">
                            <img class="img-avatar" src="/img/profile-pics/1.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-avatar" src="/img/profile-pics/2.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-avatar" src="/img/profile-pics/3.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-avatar" src="/img/profile-pics/4.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-avatar" src="/img/profile-pics/5.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-avatar" src="/img/profile-pics/6.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-avatar" src="/img/profile-pics/7.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-avatar" src="/img/profile-pics/8.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-avatar" src="/img/profile-pics/1.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-avatar" src="/img/profile-pics/2.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-avatar" src="/img/profile-pics/3.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-avatar" src="/img/profile-pics/4.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="pm-body clearfix">
            <ul class="tab-nav tn-justified">
                <li class="active"><a href="/profile-about.html">About</a></li>
                <li><a href="/profile-photos.html">Photos</a></li>
                <li><a href="/profile-connections.html">Connections</a></li>
            </ul>

            <div class="pmb-block">
                <div class="pmbb-header">
                    <h2><i class="zmdi zmdi-account m-r-5"></i> Basic Information</h2>
                </div>
                <div class="pmbb-body p-l-30">
                    <form name="basicForm" action="/profile-about/basic" method="put">
                        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">이름</dt>
                            <dd>
                                <div class="fg-line">
                                    <input type="text" name="name" class="form-control" value="{{user.name}}">
                                </div>

                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">이메일</dt>
                            <dd>
                                <div class="fg-line">
                                    <input type="email" name="email" class="form-control" value="{{user.email}}">
                                </div>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">성별</dt>
                            <dd>
                                <div class="fg-line">
                                    <select name="gender" class="form-control">
                                        {{#select user.gender}}
                                        <option value="">---</option>
                                        <option value="male">남</option>
                                        <option value="female">여</option>
                                        {{/select}}
                                    </select>
                                </div>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">생년월일</dt>
                            <dd>
                                <div class="dtp-container dropdown fg-line">
                                    <input type="text" name="age" class="form-control date-picker" data-toggle="dropdown" placeholder="" value="{{user.age}}">
                                </div>
                            </dd>
                        </dl>

                        <div class="m-t-30">
                            <input type="submit" class="btn btn-primary btn-sm" value="Save">
                        </div>
                    </form>
                </div>
            </div>

            <div class="pmb-block">
                <div class="pmbb-header">
                    <h2><i class="zmdi zmdi-phone m-r-5"></i> Contact Information</h2>
                </div>
                <div class="pmbb-body p-l-30">
                    <form name="contactForm" action="/profile-about/contact" method="put">
                        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">거주지 도/시</dt>
                            <dd>
                                <div class="col-md-6" style="padding-left:0;">
                                    <select name="bigCity" class="selectpicker bigCity">
                                        {{#select user.region}}
                                        <option value="">도시 선택</option>
                                        <option value="서울">서울</option>
                                        <option value="경기">경기</option>
                                        <option value="인천">인천</option>
                                        <option value="대구">대구</option>
                                        <option value="부산">부산</option>
                                        <option value="광주">광주</option>
                                        <option value="대전">대전</option>
                                        <option value="울산">울산</option>
                                        <option value="세종">세종</option>
                                        <option value="강원">강원</option>
                                        <option value="충북">충북</option>
                                        <option value="충남">충남</option>
                                        <option value="전북">전북</option>
                                        <option value="전남">전남</option>
                                        <option value="경북">경북</option>
                                        <option value="경남">경남</option>
                                        <option value="제주">제주</option>
                                        {{/select}}
                                    </select>
                                </div>
                                <div class="col-md-6" style="padding-right:0;">
                                    <select name="city" class="selectpicker city">
                                        {{! ajax 2차 카테고리}}
                                    </select>
                                </div>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">중학교</dt>
                            <dd>
                                <input type="text" name="middleSchool" id="middleSchool" class="typeahead form-control" value="{{user.middleSchool}}">
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">고등학교</dt>
                            <dd>
                                <input type="text" name="highSchool" id="highSchool" class="typeahead form-control" value="{{user.highSchool}}">
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">대학교</dt>
                            <dd>
                                <input type="text" name="university" id="university" class="typeahead form-control" value="{{user.university}}">
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">관심분야</dt>
                            <dd>
                                <div class="fg-line">
                                    {{#check user.specialty}}
                                    <label class="checkbox checkbox-inline cr-alt">
                                        <input type="checkbox" name="specialty" value="학업">
                                        <i class="input-helper"></i>
                                        학업
                                    </label>
                                    <label class="checkbox checkbox-inline cr-alt">
                                        <input type="checkbox" name="specialty" value="취업">
                                        <i class="input-helper"></i>
                                        취업
                                    </label>
                                    <label class="checkbox-inline cr-alt">
                                        <input type="checkbox" name="specialty" value="경영">
                                        <i class="input-helper"></i>
                                        경영
                                    </label>
                                    {{/check}}
                                </div>
                            </dd>
                        </dl>
                        <div class="m-t-30">
                            <input type="submit" class="btn btn-primary btn-sm" value="Save">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'jquery'}}
<script src="/vendors/bower_components/moment/min/moment.min.js"></script>
<script src="/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="/vendors/bower_components/nouislider/distribute/jquery.nouislider.all.min.js"></script>

<script src="/vendors/jqfu/jquery.ui.widget.js"></script>
<script src="/vendors/jqfu/jquery.iframe-transport.js"></script>
<script src="/vendors/jqfu/jquery.fileupload.js"></script>
<script>
    $(document).ready(function () {
        $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
            if (options.type.toLowerCase() !== 'get') {
                jqXHR.setRequestHeader('X-CSRF-Token', '{{_csrfToken}}');
            }
        });

        // 프로필 사진 업로드
        $('#fieldPhoto').fileupload({
            dataType: 'json',
            url: '/upload/{{user._id}}/profile',
            done: function (e, data) {
                $.ajax({
                    type: 'PUT',
                    dataType: 'JSON',
                    data: {
                        path: data.result.files[0].url
                    },
                    url: '/profile-about/picture',
                }).done(function (response) {
                    if (response.msg === 'success') {
                        $('.sms-profile img').attr('src', data.result.files[0].url);
                        $('img.profile-pic').attr('src', data.result.files[0].url);
                        notify('top', 'right', '', 'success', 'animated fadeIn', 'animated fadeOut', '프로필 사진 변경 완료 :: ', '좋은 사진이군요! :-)');
                    } else {
                        notify('top', 'right', '', 'danger', 'animated fadeIn', 'animated fadeOut', '프로필 사진 변경 실패 :: ', 'Server Error');
                    }
                });
            }
        });
        // 기본 정보 변경
        $('form[name="basicForm"]').on('submit', function (evt) {
            evt.preventDefault();
            var action = $(this).attr('action');

            var name = $(this).find('input[name="name"]').val();
            var gender = $(this).find('select[name="gender"]').val();
            var age = $(this).find('input[name="age"]').val();

            $.ajax({
                type: 'PUT',
                dataType: 'JSON',
                data: {
                    name: name,
                    gender: gender,
                    age: age
                },
                url: action,
            }).done(function (response) {
                if (response.msg === 'success') {
                    notify('top', 'right', '', 'success', 'animated fadeIn', 'animated fadeOut', '기본 정보 수정 완료 :: ', '좋은 사람이군요! :-)');
                } else {
                    notify('top', 'right', '', 'danger', 'animated fadeIn', 'animated fadeOut', '기본 정보 수정 실패 :: ', 'Server Error');
                }
            });
        });
        // 세부 정보 변경
        $('form[name="contactForm"]').on('submit', function (evt) {
            evt.preventDefault();
            var action = $(this).attr('action');

            var bigCity = $(this).find('select[name="bigCity"]').val();
            var city = $(this).find('select[name="city"]').val();
            var middleSchool = $(this).find('input[name="middleSchool"]').val();
            var highSchool = $(this).find('input[name="highSchool"]').val();
            var university = $(this).find('input[name="university"]').val();
            var specialty = [];
            $(this).find('input[name="specialty"]:checked').each(function (i) {
                specialty[i] = $(this).val();
            });
            if (!specialty.length) specialty = [''];

            $.ajax({
                type: 'PUT',
                dataType: 'JSON',
                data: {
                    region: bigCity,
                    city: city,
                    middleSchool: middleSchool,
                    highSchool: highSchool,
                    university: university,
                    specialty: specialty
                },
                url: action,
            }).done(function (response) {
                if (response.msg === 'success') {
                    notify('top', 'right', '', 'success', 'animated fadeIn', 'animated fadeOut', '상세 정보 수정 완료 :: ', '이제 마음껏 이용하세요! :-)');
                } else {
                    notify('top', 'right', '', 'danger', 'animated fadeIn', 'animated fadeOut', '상세 정보 수정 실패 :: ', 'Server Error');
                }
            });
        });

        // 도시 카테고리
        cityCategoryChange($('.bigCity option:selected').val(), $('select.city'), '{{user.city}}');
        $('.bigCity').change(function () {
            cityCategoryChange($('.bigCity option:selected').val(), $('select.city'));
        });
    });
</script>
{{/section}}
