<br />
{{#each cities}}
    <h3><a href="/staff/{{name}}"> - {{name}}</a></h3>
{{/each}}

{{#if city}}
    <h3>"{{city.name}}"</h3>
    {{#each city.staffs}}
        <p><a href="/staff/{{../city.name}}/{{name}}"> - {{name}}</a></p>
    {{/each}}
{{/if}}

{{#if info}}
    <p>{{info}}</p>
{{/if}}

{{#if notFound}}
    <p>요청하신 {{notFound}}을 찾을 수 없습니다.</p>
    <p><a href="/staff">메인페이지</a>에서 다시 찾아 보시겠습니까?</p>
{{/if}}